body.custom-bg {
    background-color: #fdf4e7 !important;
}

.custom-btn {
    background-color: #5a3e23;
    color: white;
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #9a772b;
    border-color: #9a772b;
}

.libertinus-mono-regular {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Libertinus Mono', monospace;
}

.nav-link:hover {
  text-decoration: underline;
  color: #b28b32 !important;
}
